/* stylelint-disable no-duplicate-selectors */
.u-container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);


}

.u-grid {
  display: grid;
  gap: var(--space);
}

