.u-container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  @media (--desktop) {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
}

.u-grid {
  display: grid;
  gap: var(--space);
}

.u-masonry {
  column-gap: 1.5em;

  @media (--tablet) {
    column-count: 2;
  }

  @media (--desktop) {
    column-count: 3;
  }
}
