/* stylelint-disable no-duplicate-selectors */
.u-container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);

  @media (--desktop) {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
}

.u-grid {
  display: grid;
  gap: var(--space);
}

.u-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space);
}

.u-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space);
}

.u-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space);
}

.u-grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space);
}

.u-center {
  place-items: center;
}

.u-masonry {
  column-gap: 1.5em;

  @media (--tablet) {
    column-count: 2;
  }

  @media (--desktop) {
    column-count: 3;
  }
}
