:root {
  --brand-primary: #51c5a4;
  --brand-secondary: #fffbf4;
  --text-color: #082626;
  --text-color-secondary: #808080;
  --font-family: 'Play', serif;
  --font-family-heading: 'Roboto Slab', sans-serif;
  --font-size: 18px;
  --line-height: 1.375;
  --drop-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  --gutter-xs: 8px;
  --gutter-sm: 12px;
  --gutter: 20px;
  --gutter-lg: 32px;
  --gutter-xl: 40px;
  --gutter-xxl: 60px;
  --gutter-section: 40px;
  --container-max-width: 1000px;
  --fast: 0.1s;
  --normal: 0.2s;
  --slow: 0.4s;
}

/* stylelint-disable at-rule-no-unknown */
@custom-media --mobile (min-width: 480px);
@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 992px);

