html {
  animation: fade-in ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: var(--duration-slow);
}

.layout-enter-active,
.layout-leave-active {
  transition: all var(--duration-fast);
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

a {
  &:hover,
  &:focus {
    transition: all var(--duration-fast);
  }
}

label {
  &:before,
  &:after {
    transition: var(--duration-slow) all ease;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
