a {
  color: var(--ui-text-secondary);
  text-decoration: underline;
  overflow-wrap: break-word;

  &:visited {
    color: var(--ui-text-primary);
  }

  &:hover,
  &:focus {
    color: var(--ui-text-primary);
  }
}
