a {
  color: var(--ui-text-primary);
  @media (--dark) {
    color: var(--ui-text-secondary);
  }
  text-decoration: underline;
  overflow-wrap: break-word;


  &:hover,
  &:focus {
    color: var(--ui-text-secondary);

    @media (--dark) {
      color: var(--ui-text-secondary);
    }
  }
}
