body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: var(--line-height);
  color: var(--text-color);
  font-style: normal;
  background: var(--ui-bg);
  min-width: 300px;
}
