table {
  margin: 0 auto var(--space) auto;
  border-collapse: collapse;
}

td {
  text-align: left;
  border: 1px solid var(--ui-border-color);
  padding: var(--space-xs);
}

th {
  text-align: left;
  border: 1px solid var(--ui-text-primary);
  padding: var(--space-xs);
}
